{
  "manifest_version": 2,
  "name": "Email Tabs",
  "version": "{{version}}",
  "version_name": "{{version_name}}",
  "description": "{{{description}}}",
  "author": "{{{author}}}",
  "homepage_url": "{{{homepage}}}",
  "icons": {
    "48": "emailtabs.svg",
    "96": "emailtabs.svg"
  },
  "applications": {
    "gecko": {
      "id": "email-tabs@mozilla.org",
      "strict_min_version": "57.0a1",
      "update_url": "https://testpilot.firefox.com/files/email-tabs@mozilla.org/updates.json"
    }
  },
  "background": {
    "scripts": [
      "build/testpilot-ga.js",
      "templateMetadata.js",
      "background.js",
      "build/react.production.min.js",
      "build/react-dom-server.browser.production.min.js",
      "build/emailTemplates.js"
    ]
  },
  "browser_action": {
    "browser_style": true,
    "default_icon": "emailtabs.svg",
    "default_title": "Email tabs",
    "default_popup": "popup.html"
  },
  "web_accessible_resources": [
    "gmail-iframe.html"
  ],
  "permissions": [
    "activeTab",
    "tabs",
    "notifications",
    "clipboardWrite",
    "storage",
    "<all_urls>"
  ]
}
