body,
html {
  font: message-box;
  overflow: hidden;
}

:root {
  --dark-theme-background-color: #4a4a4f;
  --dark-theme-highlight-color: #6d6d6f;
  --dark-theme-superhighlight-color: hsla(0, 0%, 80%, 0.45);
  --dark-theme-color: #fff;
  --dark-theme-links: #45a1ff;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  overflow: hidden !important;
}

#panel {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 440px;
  min-width: 400px;
  width: 100%;
}

#panel,
.tabs-section__title,
.tab {
  font: menu;
}

.separator {
  background: hsla(210, 4%, 10%, 0.14);
  height: 1px;
  margin: 6px 0;
}

.tabs-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tabs-section {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow-y: auto;
  max-height: 215px;
}

.tabs-section__title {
  align-items: center;
  color: GrayText;
  display: flex;
  font-weight: normal;
  height: 24px;
  margin: 0;
  padding: 4px 12px;
}

.tabs-section:first-child .tabs-section__title {
  margin-top: 6px;
}

.tabs-section__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#open-tabs-list {
  flex: 1;
  overflow-y: auto;
}

.tab {
  align-items: center;
  border: 0;
  width: 100%;
  background: #fff;
  display: flex;
  font-weight: normal;
  height: 30px;
}

.tab > label {
  display: flex;
  height: 30px;
  overflow: hidden;
  padding: 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 24px);
}

.tab:hover,
.tab:focus {
  background: #ededf0;
}

.tab.disabled:hover {
  background: #fff;
}

.tab__image,
.tab__text {
  pointer-events: none;
}

.tab__image {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 16px;
  margin-inline-end: 8px;
  width: 16px;
}

/* this is a hack if, for any reason, a site does not
supply a favicon */

.tab__image[style*=undefined] {
  background-image: url(images/globe.svg) !important;
}

.tab__label {
  display: flex;
  overflow: hidden;
  height: 100%;
  padding: 7px;
}

.tab__text {
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 24px);
}

.controls {
  padding: 12px 6px 6px 16px;
}

.settings-icon-wrap {
  background: inherit;
  border: 0;
  cursor: pointer;
  float: right;
}

.settings-icon {
  height: 16px;
  width: 16px;
}

.styled-checkbox {
  cursor: pointer;
  margin-right: 26px;
  position: relative;
  margin-top: -2px;
}

/* checkboxes */
.tab input[type="checkbox"],
.controls input[type="checkbox"] {
  display: none;
}

.styled-checkbox::before,
.styled-checkbox::after {
  bottom: 0;
  content: '';
  height: 14px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 14px;
}

.styled-checkbox::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 14px;
  height: 14px;
  border: 1px solid rgba(12, 12, 13, 0.3);
  border-radius: 2px;
  background-color: rgba(12, 12, 13, 0.1);
}

input[type="checkbox"]:hover + .styled-checkbox::before {
  background: rgba(12, 12, 13, 0.2);
}

input[type="checkbox"]:active + .styled-checkbox::before {
  background: rgba(12, 12, 13, 0.3);
}

input[type="checkbox"]:focus + .styled-checkbox::before {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

input[type="checkbox"]:checked + .styled-checkbox::before,
input[type="checkbox"]:indeterminate + .styled-checkbox::before {
  background: #0060df;
  border: 1px solid #0060df;
}

input[type="checkbox"]:disabled + .styled-checkbox::before {
  box-shadow: none;
  background: #ddd;
  opacity: 0.2;
}

input[type="checkbox"]:checked:hover + .styled-checkbox::before,
input[type="checkbox"]:indeterminate:hover + .styled-checkbox::before {
  background: #003eaa;
}

input[type="checkbox"]:checked:active + .styled-checkbox::before,
input[type="checkbox"]:indeterminate:active + .styled-checkbox::before {
  background: #002275;
}

input[type="checkbox"]:checked:focus + .styled-checkbox::before,
input[type="checkbox"]:indeterminate:focus + .styled-checkbox::before {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

input[type="checkbox"]:disabled + .styled-checkbox {
  color: #b8b8b8;
  cursor: auto;
  opacity: 40%;
}

input[type="checkbox"]:disabled + .styled-checkbox + .tab__label {
  opacity: 0.2;
}

input[type="checkbox"]:checked + .styled-checkbox::after {
  background: url(images/check.svg);
}

input[type="checkbox"]:indeterminate + .styled-checkbox::after {
  background-image: url(images/unselect.svg);
  background-position: 0 center;
  background-repeat: no-repeat;
}

input[type="checkbox"]#allCheckbox:checked + .styled-checkbox::after {
  background-image: url(images/check.svg) !important;
  background-position: 0 center;
  background-repeat: no-repeat;
}

.feedback-link,
.sorry {
  font-size: 11px;
  color: #4a4a4f;
  letter-spacing: -0.08px;
  padding: 2px 16px;
}

.feedback-link a,
.sorry a {
  color: #0a84ff;
  text-decoration: none;
}

.feedback-link a:hover,
.sorry a:hover {
  color: #0060df;
}

.feedback-link a:active {
  color: #003eaa;
}

.panel-footer {
  border-top: 1px solid hsla(210, 4%, 10%, 0.14);
  display: flex;
  flex: 0 0 41px;
  margin: 6px 0 0;
}

.panel-footer.toggle-disabled {
  grid-template-columns: 1fr;
}

.panel-footer button {
  align-items: center;
  background: #0060df;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex: 1;
  font: menu;
  justify-content: center;
  margin-bottom: 0;
  padding: 12px 4px;
  text-decoration: none;
}

.panel-footer button:hover {
  background: #003eaa;
}

.panel-footer button:active {
  background: #002275;
}

.panel-footer button:first-child {
  background: rgba(12, 12, 13, 0.1);
  border-inline-end: 1px solid hsla(210, 4%, 10%, 0.14);
  color: rgb(26, 26, 26);
}

.panel-footer button:disabled {
  opacity: 0.4;
}

.panel-footer button:first-child:hover {
  background: rgba(12, 12, 13, 0.2);
}

.panel-footer button:first-child:active {
  background: rgba(12, 12, 13, 0.3);
}

#getting-started {
  display: none;
  padding: 1em;
}

/* Providers */

.providers-container {
  display: flex;
  padding: 0 6px;
  justify-content: space-around;
}

.provider-heading {
  font-weight: bold;
  text-align: center;
}

.providers-container p {
  font-size: 9px;
}

.provider-button {
  align-items: center;
  background: inherit;
  border: 1px solid rgba(115, 115, 115, 0.4);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center; /* center items horizontally, in this case */
  width: 120px;
  padding: 6px;
  transition: box-shadow 100ms, background 100ms;
  box-shadow: 0 0 0 transparent;
}

.provider-button:disabled {
  background: hsla(0, 0%, 80%, 0.2);
  position: relative;
  opacity: 0.4;
}

.provider-button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.provider-button:not(:disabled):hover {
  border: 1px solid #fff;
  box-shadow: 0 0 0 3px #0a84ff;
  background: rgba(12, 12, 13, 0.1);
}

.provider-button:not(:disabled):active {
  background: rgba(12, 12, 13, 0.2);
}

.provider-button:disabled::after {
  content: 'Coming Soon';
  transform-origin: center center;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #000;
  justify-content: center;
  transform: rotate(45deg);
}

.provider-button img {
  display: block;
  margin: auto;
}

#login-error {
  background-color: #ffe902;
  border-radius: 4px;
  color: #3e2800;
  margin: 6px;
  padding: 1px;
}

#login-error p {
  padding: 0 30px;
}

#login-error .warn {
  left: 15px;
  position: absolute;
  top: 20px;
  width: 15px;
}

#login-error .close {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 15px;
}

li.active .tab {
  font-weight: bold;
}

/* Dark theme */

#panel.dark-theme,
#panel.dark-theme .tab {
  background: var(--dark-theme-background-color);
  color: var(--dark-theme-color);
}

#panel.dark-theme .tab:hover,
#panel.dark-theme .tab:focus,
#panel.dark-theme .separator {
  background: var(--dark-theme-highlight-color);
}

#panel.dark-theme .tab.disabled:hover {
  background: var(--dark-theme-background-color);
}

#panel.dark-theme .panel-footer button {
  background-color: var(--dark-theme-superhighlight-color);
  color: var(--dark-theme-color);
}

#panel.dark-theme .panel-footer button:hover {
  background-color: hsla(0, 0%, 80%, 0.6);
}
