body,
html {
  font-family: sans-serif;
}

body.popup {
  min-width: 32em;
}

.controls {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #000;
}

.tabList {
  padding-top: 2.5em;
}

.tabList ul {
  padding-left: 0;
}

.tabList li {
  list-style: none;
}

#search {
  width: 100%;
}
